# Loại bỏ các file .ipynb
*.ipynb

# Loại bỏ các file biên dịch
.ipynb_checkpoints/
__pycache__/
.vscode/
.idea/
*.egg-info/
.mypy_cache/
.pytest_cache/

# Loại bỏ các file data
mounts/
mounts

# Loại bỏ thư mục model
mrc_models/
run_train_all.sh
commands.sh
